header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    padding: 1rem;
    box-shadow: 0 0 .5rem 0 var(--theme-clr);

    position: relative;
}
    header h1 {
        font-weight: lighter;
        font-size: 2.75rem;
    }
    header h1 span {
        font-weight: bold;
        color: var(--text-clr);
    }
    header #appInfoBtn {
        width: 2rem;
        height: 2rem;
        border: 2px solid var(--theme-clr);
        border-radius: 50%;
        /* outline: none; */
        background-color: var(--primary-clr);
        color: var(--theme-clr);
        font-size: 1.75rem;
        font-family: serif;
        font-weight: bold;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        right: 5%;
    }
        header #appInfoBtn:hover {
            background-color: inherit;
        }

    header #appInfo {
        position: absolute;

        width: 90%;
        max-width: 25rem;
        padding: 1rem;
        background-color: var(--theme-clr);
        color: var(--primary-clr);

        transform: translateY(-8rem);
        transition: transform 500ms ease-out;
    }
        header #appInfo.show {
            transform: translateY(8rem);
        }

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    width: 90%;
    max-width: 30rem;
    margin: 5rem auto;
    padding: 2rem 1rem;
    /* border-radius: 1rem; */
}
    .app h2 {
        text-align: center;
        color: var(--theme-clr);
        font-weight: lighter;
    }
    .app #tweetTextArea {
        background-color: var(--primary-clr);
        width: 100%;
        resize: none;
        margin: .5rem 0;
        padding: .5rem 1rem;
        color: inherit;
    }
        .app #tweetTextArea::placeholder {
            color:var(--darker-text-clr);
        }
        .app #tweetTextArea:focus {
            outline: 1px solid var(--theme-clr);
        }
    
.app #counter {
    align-self: flex-end;
    margin-right: 1rem;
    color: var(--theme-clr);
}

.app #tweetOutLink {
    margin: 3rem auto 0;
    position: relative;
}
    .app #tweetOutLink img {
        position: absolute;
        top: -1.5rem;
        left: -1.5rem;
        width: 3rem;
        height: auto;
    }

.app #tweetBtn {
    border: 1px solid var(--theme-clr);
    outline: none;
    background-color: var(--bg-clr);
    color: var(--theme-clr);
    font-size: 1.5rem;
    margin-top: 2rem auto;
    padding: .5rem 2rem;
    cursor: pointer;
}   
    .app #tweetBtn:hover {
        background-color: var(--primary-clr);
    }
    .app #tweetBtn:disabled {
        cursor: not-allowed;
    }
