header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    padding: 1rem;
    box-shadow: 0 0 10px 0 var(--theme-clr);

    position: relative;
}
    header h1 {
        font-weight: lighter;
        font-size: 2.5rem;
    }
    header h1 span {
        font-weight: bold;
    }
    header #appInfo {
        width: 2rem;
        height: 2rem;
        border: 1px solid var(--theme-clr);
        border-radius: 50%;
        font-size: 1.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        right: 5%;
    }

.app {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    width: 90%;
    max-width: 35rem;
    margin: 5rem auto;
    padding: 2rem 1rem;
    /* border-radius: 1rem; */
}
    .app h2 {
        text-align: center;
        color: var(--theme-clr);
        font-weight: lighter;
    }
    .app #tweetTextArea {
        background-color: var(--primary-clr);
        width: 100%;
        resize: none;
        padding: .5rem 1rem;
        color: inherit;
    }
        .app #tweetTextArea::placeholder {
            color:var(--darker-text-clr);
        }
        .app #tweetTextArea:focus {
            outline: 1px solid var(--theme-clr);
        }
    
.app #counter {
    align-self: flex-end;
    margin-right: 1rem;
    color: var(--theme-clr);
}

.app #tweetOutLink {
    margin: 3rem auto 0;
}

.app #tweetBtn {
    border: 1px solid var(--theme-clr);
    outline: none;
    background-color: var(--bg-clr);
    color: var(--theme-clr);
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 2rem auto;
    padding: .5rem 1.5rem
    /* border-radius: 999px; */
    /* position: relative; */
}   
    .app #tweetBtn:hover {
        background-color: var(--primary-clr);
    }
    /* .app #tweetBtn img {
        position: absolute;
        top: .5rem;
        right: 1.5rem;
    } */
    .app #tweetBtn:disabled {
        cursor: not-allowed;
        /* opacity: .5; */
    }