@import './reset.css';
@import './blocks.css';

:root {
    /* COLORS */
    --theme-clr: #1da1f2;
    --bg-clr: #15202b;
    --primary-clr: #192734;
    --secondary-clr: #202e3a;
    --text-clr: #ddd;
    --darker-text-clr: #aaa;    
}

html {
    font-size: 14px;
}

body {
    background-color: var(--bg-clr);
    color: var(--theme-clr);
    font-family: sans-serif;

    display: flex;
    flex-direction: column; 
}

a {
    text-decoration: none;
}

/* Custom scroll bars style */
/* width */
::-webkit-scrollbar {
    width: 4px;
    border-radius: 1rem;
    background: var(--bg-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-clr); 
}

@media only screen and (min-width: 769px) {
    html {
        font-size: 16px;
    }
}